html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: $main-font-stack;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  height: 40px;
}

form {
  display: flex;
  justify-content: right;
}
