
.training-center__bg {
	background: url(../img/vova/bg/bg-10.jpg);
	box-sizing: border-box;
	padding: 84px 0 50px 0;
	position: relative;
	@media (min-width: 768px) {
		background: url(../img/vova/bg/bg-company-tab.jpg);
	}
	@media (min-width: 1250px) {
		padding-top: 150px;
		background: url(../img/vova/bg/bg-company-desc.jpg) no-repeat;
		padding-bottom: 0;
		&::before {
			content: '';
			display: inline-block;
			position: absolute;
			width: 22px;
			height: 801px;
			left: 0;
			top: 484px;
			background: $main-blue;
		}
		&::after {
			content: '';
			display: inline-block;
			position: absolute;
			width: 15px;
			height: 801px;
			right: 0;
			top: 84px;
			background: $main-blue;
		}
	}
}

.traning-center__wrapper {
	@include wrapper(290px, 0 auto);
	@media (min-width: 768px) {
		@include wrapper(585px, 0 auto);
	}
	@media (min-width: 1250px) {
		@include wrapper(1149px, 0 auto);
		&--desc {
			position: relative;
			display: flex;
		}
	}
}

.training-center {
	line-height: 1.5;
	&__title {
		@extend %h2;
		color: $h2-learning-color;
		margin-bottom: 20px;
		@media (min-width: 768px) {
			font-size: 29px;
			margin-bottom: 40px;
		}
		@media (min-width: 1250px) {
			font-size: 45px;
		}
		&::after {
			@extend %after-h2;
			display: block;
			background: $h2-learning-color;
			@media (min-width: 768px) {
				display: none;
			}
		}
	}
}

.after-title__list {
	@extend %list;
	@media (min-width: 768px) {
		margin-bottom: 65px;
	}
}

.after-title__items {
	@extend %font-source;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	color: $header-color;
	@media (min-width: 768px) {
		width: 320px;
		border-bottom: 2px solid $header-color;
		text-align: right;
		margin: 0 auto;
		padding: 0;
	}
	@media (min-width: 1250px) {
		width: 430px;
		border-bottom: 4px solid $header-color;
		font-weight: 900;
	}
	&:nth-of-type(2) {
		color: $main-blue;
		@media (min-width: 768px) {
			width: 140px;
			text-align: center;
			background: $header-color;
			margin-left: 313px;
		}
		@media (min-width: 1250px) {
			margin-left: 650px;
		}
	}
	
}

.set-goal__title {
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	color: $header-color;
	@media (min-width: 768px) {
		padding-left: 96px;
		max-width: 400px;
		margin-bottom: 25px;
		&::before {
			content: '';
			display: inline-block;
			position: absolute;
			background: url(../img/vova/bg/bg-goal.png) no-repeat;
			background-size: contain;
			width: 74px;
			height: 405px;
			left: -11px;
			top: 8px;
			
		}
	}
	@media (min-width: 1250px) {
		padding-left: 0;
		&::before {
			left: -98px;
				top: 33px;
		}
	}
}

.set-goal__text {
	font-size: 16px;
	color: $header-color;
	font-weight: 600;
	@media (min-width: 768px) {
		padding-left: 96px;
		max-width: 400px;
		margin-bottom: 70px;
	}
	@media (min-width: 1250px) {
		margin-bottom: 54px;
		padding-left: 0;
	}
	
}

.set-goal__list {
	@extend %list;
	padding-bottom: 10px;
}

.set-goal__items {
	position: relative;
	box-sizing: border-box;
	padding: 0px 11px 0 50px;
	margin-bottom: 25px;
	color: $header-color;
	@media (min-width: 768px) {
		padding-left: 96px;
		max-width: 450px;
		&--first-span{
			@media (max-width: 1250px) {
				&::after{
					content: '';
					display: inline-block;
					position: absolute;
					width: 287px;
					height: 2px;
					top: 22px;
					left: 146px;
					background: #73B2B7;
					
				}
			}
		
		
		}
		&::after {
			content: '';
			display: inline-block;
			position: absolute;
			width: 49px;
			height: 1px;
			background: #595959;
			left: 11px;
			top: 15px;	
		}
	}
	@media (min-width: 1250px) {
		padding-left: 0;
		&::after{
			left: -75px;
			top: 38px;
		}
	}
	
	&::before {
		@extend %list-before;
		background: url(../img/vova/list/elips.png) center no-repeat;
		@media (min-width: 768px) {
			left: 48px;
			z-index: 100;
		}
		@media (min-width: 1250px) {
			left: -44px;
			top: 18px;
		}
	}
	span {
		font-weight: 800;
	}
}

.company {
	position: relative;
	@media (min-width: 1250px) {
		max-width: 585px;
	}
}

.company__title {
	font: 600 18px 'Ubuntu mono', 'monospace';
	color: $header-color;
	padding-top: 15px;
	border-top: 2px solid $color-line;
	@media (min-width: 768px) {
		position: absolute;
		right: -106px;
		top: 314px;
		transform: rotate(90deg);
		width: 345px;
		padding-left: 59px;
		text-align: right;
		font-size: 22px;
	}
}

.company__list {
	@extend %list;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
	position: relative;
	@media (min-width: 768px) {
		justify-content: space-around;
	}
}

.company__items {
	box-sizing: border-box;
	@extend %flex;
	width: 141px;
	height: 144px;
	background: $white;
	margin-top: 7px;
	box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
	@media (min-width: 768px) {
		width: 184px;
		height: 187px;
		&:last-child {
			position: relative;
			top: 193px;
			right: 194px;
		}
		&:not(:nth-of-type(2n+3)) {
			box-shadow: 0px 18px 13px 0px rgba(0, 0, 0, 0.13);
			z-index: 100;
		}
		&:first-child {
			z-index: 300;
		}
	}
	
	&:not(:nth-of-type(2n)) {
		margin-right: 7px;
		@media (min-width: 768px) {
			margin-right: 0;
		}
	}
	
}

.company__text {
	padding-left: 20px;
	font: 400 16px "ubuntu mono", monospace;
	color: $header-color;
	span {
		font-weight: 700;
	}
	@media (min-width: 768px) {
		width: 146px;
		line-height: 24px;
		margin-bottom: 100px;
		position: relative;
	}
	@media (min-width: 1250px) {
		margin-bottom: 70px;
	}
	
}

//наши достижения
.our-pride {
	padding-top: 50px;
	position: relative;
	@media (min-width: 768px) {
		padding-top: 0;
	}
	&__wrapper {
		position: relative;
		@media (min-width: 768px) {
			@include wrapper(585px, 0 auto);
		}
		@media (min-width: 1250px) {
			@include wrapper(1149px, o auto);
		}
		
	}
	&__title {
		text-align: center;
		width: 175px;
		margin: 0 auto;
		text-transform: uppercase;
		@extend %font-source;
		font-weight: 800;
		font-size: 17px;
		color: $header-color;
		margin-bottom: 20px;
		@media (min-width: 768px) {
			width: 376px;
			font-size: 20px;
			text-align: left;
			margin: 0 0 60px 0;
		}
		@media (min-width: 1250px) {
			margin-bottom: 0;
			transform: translateY(-95%);
		}
		&::before {
			@include before-hr();
			margin-bottom: 10px;
			@media (min-width: 768px) {
				width: 336px;
				margin: 0;
				height: 4px;
				margin-bottom: 15px;
			}
		}
	}
	&__list {
		@include wrapper(290px, 0 auto);
		@extend %list;
		position: relative;
		z-index: 200;
		@media (min-width: 768px) {
			@include wrapper (585px, 0 auto);
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		@media (min-width: 1250px) {
			@include wrapper(1149px);
			flex-wrap: nowrap;
		}
	}
	
	&__items {
		position: relative;
		box-sizing: border-box;
		height: 388px;
		padding: 20px 5px 15px 30px;
		margin-bottom: 20px;
		box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.11);
		background: url(../img/vova/bg/bg-grade-1.png) no-repeat right, #ffffff;
		background-position-x: -60px;
		@media (min-width: 768px) {
			width: 100%;
			background: url(../img/vova/bg/bg-grade-1@tab.png) no-repeat right, #fbfbfb;
			background-position: -67px 0px;
			padding-right: 30px;
			.our-pride__subtitle {
				font: 900 18px 'Open Sans', sans-serif;
				width: 299px;
				display: inline-block;
				position: relative;
				left: 93px;
				top: -10px;
			}
			.our-pride__text {
				max-width: 326px;
				margin: 0;
			}
			
		}
		@media (min-width: 1250px) {
			margin-right: 20px;
			font-size: 14px;
		}
		&:nth-of-type(2) {
			background: url(../img/vova/bg/bg-grade-2.png) no-repeat left, #ffffff;
			background-size: contain;
			background-position: 0 32px;
			@media (min-width: 768px) {
				width: 48%;
				background-color: #fbfbfb;
				padding-right: 10px;
				.our-pride__subtitle {
					max-width: 196px;
					left: 73px;
					top: -11px;
					margin: 0;
				}
				.our-pride__items--wrapper .our-pride__text {
					width: 150px;
					padding: 60px 0 0 0;
				}
			}
			@media (min-width: 1250px) {
				margin-right: 20px;
			}
		}
		
		&:nth-of-type(3) {
			background: url(../img/vova/bg/bg-grade-3.png) no-repeat left, #ffffff;
			margin-bottom: 0;
			@media (min-width: 768px) {
				width: 48%;
				background-color: #fbfbfb;
				padding-right: 10px;
				.our-pride__subtitle {
					max-width: 154px;
					margin: 0;
					left: 94px;
					top: -11px;
				}
				.our-pride__items--wrapper .our-pride__text {
					width: 133px;
				}
			}
		}
		
		&:not(:first-child) .our-pride__items--wrapper {
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: flex-end;
			@media (min-width: 768px) {
				align-items: center;
				padding-top: 35px;
			}
			> p {
				width: 52%;
				padding-bottom: 20px;
			}
		}
		
	}
	
	&__link {
		@extend %link;
		@extend %flex;
		width: 125px;
		height: 28px;
		font: 600 18px 'Ubuntu mono', monospace;
		color: $main-blue;
		background: $header-color;
		text-align: center;
		padding-top: 2px;
		box-sizing: border-box;
		@media (min-width: 768px) {
			position: relative;
			transform: rotate(90deg);
			top: 78px;
			left: -47px;
			&--first{
				top: 18px;
			}
		}
	}
	&__subtitle {
		font: 800 14px 'Open Sans', sans-serif;
		color: $header-color;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	&__items--wrapper {
		@extend %flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		height: 248px;
		@media (min-width: 768px) {
			padding-top: 60px;
			justify-content: space-between;
		}
		
	}
	&__img {
		margin-right: 5px;
		@media (min-width: 768px) {
			margin-right: 0;
		}
	}
	
}
