
.training-center__bg{
    background: url(../img/bg/bg-10.jpg);
    box-sizing: border-box;
    padding-bottom: 50px;
}

.traning-center__wrapper{
    @include wrapper(290px, 0 auto);
}

.training-center{
    padding: 60px 0 0 0;
    
    &__title{
        @extend %h2;
        color:$h2-learning-color;
        &::after{
            @extend %after-h2;
            display: block;
            background: $h2-learning-color;
        }
    }
}

.after-title__list{
    @extend %list;
}  

.after-title__items{
    @extend %font-source;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color:$second-learning-color;
    &:nth-of-type(2){
        color:$primary-blue;
    }

}

.set-goal__title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color:$second-learning-color;
}

.set-goal__text{
    font-size: 16px;
    color:$second-learning-color;
    font-weight: 600;
}

.set-goal__list{
    @extend %list;
    padding-bottom: 10px;
    border-bottom: 2px solid $color-line;
}
.set-goal__items{
    position: relative;
    box-sizing: border-box;
    padding: 0px 11px 0 50px;
    margin-bottom: 25px;
    color:$second-learning-color;
   &::before{
        @extend %list-before;
        background: url(../img/list/elips.png) center no-repeat;
   } 
   span{
       font-weight: 800;
   }
}

.company__title{
    font: 600 18px 'Ubuntu mono','monospace';
    color: $second-learning-color;

}

.company__list{
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    
    

}

.company__items{
    @extend %flex;
    width: 141px;
    height: 144px;
    background: $primary-white;
    margin-top: 7px;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);

   &:not(:nth-of-type(2n)){
       margin-right: 7px;
   }
    
}
.company__text{
    padding-left: 20px;
    font: 400 16px "ubuntu mono", monospace;
    color: $second-learning-color;
    span {
        font-weight: 700;
    }
}

//наши достижения 

.our-pride{
    
    padding-top: 50px;
    position: relative;

    &__title{
        text-align: center;
        width: 170px;
        margin: 0 auto;
        text-transform: uppercase;
        @extend %font-source;
        font-weight: 800;
        font-size: 17px;
        color:$second-learning-color;
        margin-bottom: 20px;
        &::before {
            @include before-hr();
            margin-bottom: 10px;
        }
    }
    &__list{
        @include wrapper(290px, 0 auto);
        @extend %list;
        position: relative;
        z-index:200 ; 
    }
    &__items{
        box-sizing: border-box;
        height: 388px;
        padding: 20px 5px 15px 30px;
        box-shadow:0px 11px 10px 0px rgba( 0, 0, 0, 0.11 );
        background: url(../img/bg/bg-grade-1.png) no-repeat right, #fff;
        background-position-x: -60px;
        &:nth-of-type(2){
            background: url(../img/bg/bg-grade-2.png) no-repeat left,#fff;
            background-size: contain;
            background-position: 0 32px;
            
        }
        &:nth-of-type(3){
            background: url(../img/bg/bg-grade-3.png) no-repeat left,#fff;
        }
       
    }
    &__link {
        @extend %link; 
        @extend %flex;
        width: 125px;
        height: 28px;
        font:600 18px 'Ubuntu mono', monospace;
        color:$primary-blue;
        background: $second-learning-color;
    }
    &__subtitle{
        font:800 14px 'Open Sans', sans-serif;
        color: $second-learning-color;
        text-transform: uppercase;
        letter-spacing:1px;
        
    }
    &__items--wrapper{
        @extend %flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: 248px;

    }
    &__img{
        margin-right: 5px;
    }

    &__items:not(:first-child) .our-pride__items--wrapper{
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
        >p{
            width: 52%;
            padding-bottom: 20px;
        }
        
    }

}