.teachers {
	background: url(../img/vova/bg/bg-10.jpg);
	padding-top: 170px;
	position: relative;
    transform: translateY(-120px);
    line-height: 1.5;
	z-index: 100;
	@media (min-width: 768px) {
		background: url(../img/vova/bg/bg-mentors-tab.png);
		background-repeat: no-repeat;
		padding-top: 270px;
		transform: translateY(-180px);
	}
	@media (min-width: 1250px) {
		background: url(../img/vova/bg/bg-mentors-desc.png) no-repeat -205px 0px;
		margin-bottom: 118px;
	}
	
	&__wrapper {
		@include wrapper(290px, 0 auto);
		position: relative;
		@media (min-width: 768px) {
			@include wrapper(719px, 0 auto);
		}
		@media (min-width: 1250px) {
			@include wrapper (1149px);
		}
		
	}
	&__title {
		@extend %h2;
		color: $h2-learning-color;
		@media (min-width: 768px) {
			font-size: 30px;
			letter-spacing: 2px;
			margin-bottom: 30px;
		}
		@media (min-width: 1250px) {
			font-size: 42px;
		}
		&::after {
			@extend %after-h2;
			display: block;
			background: $h2-learning-color;
			@media (min-width: 768px) {
				display: none;
			}
		}
	}
	&__text {
		font-weight: 600;
		color: $header-color;
		@media (min-width: 768px) {
			max-width: 327px;
			position: absolute;
			right: 24px;
			top: 197px;
		}
		@media (min-width: 1250px) {
			right: 321px;
			top: 234px;
			font-size: 18px;
			min-width: 360px;
		}
		span {
			font-weight: 900;
		}
		
	}
	&__list {
		@extend %list;
		margin-bottom: 45px;
		position: relative;
	}
	
}

.title-after__list {
	@extend %list;
	width: 269px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
	@media (min-width: 768px) {
		width: 363px;
		text-align: left;
		margin-bottom: 58px;
	}
	@media (min-width: 1250px) {
		width: 451px;
		font-size: 18px;
		letter-spacing: 2px;
	}
	
}

.title-after__items {
	display: inline;
	text-transform: uppercase;
	@extend %font-source;
	font-weight: 900;
	letter-spacing: 1px;
	color: $header-color;
	@media (min-width: 768px) {
		display: block;
		&:first-child {
			border-bottom: 2px solid $header-color;
			@media (min-width: 1250px) {
				border-bottom: 4px solid $header-color;
			}
		}
	}
}

.card__list {
	@extend %list;
	background: #ffffff;
	box-shadow: 0px 32px 35px 0px rgba(0, 0, 0, 0.19);
	position: relative;
}

.card__items {
	position: relative;
	&:first-child {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid rgba(41, 41, 43, 0.19);
		p {
			margin: 0;
			padding: 0;
			width: 95px;
			font: 600 20px 'Ubuntu Mono', monospace;
			letter-spacing: 1px;
			@media (min-width: 1250px) {
				font-size: 26px;
			}
			&::after {
				content: '';
				display: inline-block;
				width: 55px;
				height: 2px;
				background: $main-blue;
				margin: 5px 0;
				@media (min-width: 1250px) {
					width: 75px;
					height: 4px;
				}
			}
			
		}
		span {
			font: 600 14px 'Ubuntu Mono', monospace;
			@media (min-width: 1250px) {
				display: inline-block;
				font-size: 16px;
				max-width: 120px;
			}
		}
		
	}
	&--wrapper {
		box-sizing: border-box;
		width: 48%;
	}
	
	&:nth-of-type(2) {
		display: flex;
		align-items: center;
		min-height: 100px;
	}
	&:last-of-type {
		box-sizing: border-box;
		max-height: 134px;
		padding: 30px 20px;
		background: #f0f0f0;
		@media (min-width: 1250px) {
			padding: 20px 20px 40px 20px;
		}
		span {
			display: block;
			text-align: center;
			margin-bottom: 30px;
			text-transform: uppercase;
			@extend %font-source;
			font-weight: 900;
			color: $header-color;
			@media (min-width: 1250px) {
				font-size: 14px;
				margin-bottom: 25px;
				letter-spacing: 1px;
			}
			
		}
		p {
			box-sizing: border-box;
			padding: 0;
			margin: 0;
			font: 600 13px 'Ubuntu mono', monospace;
			@media (min-width: 1250px) {
				max-width: 300px;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
		}
	}
	
}

.expierence__list {
	@extend %list;
	padding: 30px 20px;
	font-weight: 600;
	color: $header-color;
}

.teachers__items:nth-of-type(2) .expierence__items:not(:last-child) {
	margin-bottom: 20px;
}

.items-title {
	position: relative;
	text-align: right;
	font: 600 24px 'Ubuntu mono', monospace;
	color: $header-color;
	@media (min-width: 1250px) {
		font-size: 30px;
	}
	
	&::after {
		content: '';
		display: inline-block;
		position: absolute;
		width: 100px;
		height: 2px;
		background: $header-color;
		left: 79px;
		top: 18px;
		@media (min-width: 1250px) {
			width: 150px;
			top: 23px;
			left: 140px;
		}
		
	}
}

.teachers__items {
	position: relative;
	z-index: 200;
	@media (min-width: 768px) {
		max-width: 331px;
		&::before {
			content: '';
			display: inline-block;
			position: absolute;
			width: 100%;
			height: 83%;
			background: #00bcd4;
			right: 12px;
			z-index: -1;
			bottom: -13px;
			box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
			@media (min-width: 1250px) {
				bottom: -17px;
				right: 28px;
			}
		}
	}
	@media (min-width: 1250px) {
		max-width: 430px;
	}
	&:first-child {
		.card__items:last-child span {
			margin-bottom: 20px;
		}
		.items-title::after {
			left: 88px;
			@media (min-width: 1250px) {
				left: 154px;
			}
		}
	}
	&:nth-of-type(2) {
		@media (min-width: 768px) {
			position: absolute;
			right: 20px;
			top: 131px;
			&::before {
				left: 12px;
				bottom: 37px;
				@media (min-width: 1250px) {
					left: 30px;
					bottom: 28px;
				}
			}
		}
		@media (min-width: 1250px) {
			right: 253px;
			top: 221px;
		}
	}
	
	&:not(:last-child) {
		margin-bottom: 50px;
		@media (min-width: 1250px) {
			margin-bottom: 89px;
		}
	}
}

.teachers__button {
	@extend %button;
	width: 290px;
	height: 56px;
	box-shadow: 0 12px 20px 0px rgba(28, 28, 30, 0.21);
	background: linear-gradient(to right, #ffc617, #fb0740);
	border-radius: 5px;
	margin-bottom: 65px;
	text-transform: uppercase;
	@extend %font-source;
	font-weight: 900;
	color: $white;
	text-shadow: 1px 1px rgba(28, 28, 30, 0.32);
	@media (min-width: 768px) {
		position: absolute;
		right: 41px;
		bottom: -24px;
	}
	@media (min-width: 1250px) {
		width: 320px;
		height: 70px;
		right: 311px;
		bottom: -38px;
    }
    &:hover{
        cursor: pointer;
    }
}
