@mixin wrapper($widht:290px, $margin: 0 auto){
    width: $widht;
    margin: $margin;
}

@mixin before-hr($cont:'', $dis: block,$wid: 150px, $heig:2px,$bg:#242427,$marg:0 auto ){
    content: $cont;
    display: $dis;
    width: $wid;
    height: $heig;
    background:$bg;
    margin: $marg;
}