// color
$primary-white: #fff;
$primary-blue: rgb( 0, 188, 212);
$text-color-perspective: #D6D5D5;

$h2-learning-color: #333333;
$second-learning-color: #242427;

$bg-color-appreciated:#313133;
$color-line: #525253;
