$main-blue: rgba(#00bcd4, 1);
$light-smoke: rgba(#c4c4c4, 1);
$light-smoke2: rgba(#c7c7c7, 1);
$white: rgba(#ffffff, 1);
$dark-smoke: rgba(#2b2a2f, 1);
$header-color: #242427;
$form-color: #efefef;
$line-color: #2c2c2f;
$red-color: #ff1743;
$fon-color: #ededed;


$main-font-title: 'Roboto', sans-serif;
$main-font-txt: 'Open sans', sans-serif;
$second-font-txt: 'Ubuntu mono', sans-serif;

$item-font-stack: 'Open sans semibold', sans-serif;
$font-subtitle: 'Proxima Nova', sans-serif;