.header {
	box-sizing: border-box;
	margin: 0 0 30px;
	padding: 30px 0 65px;
	color: $white;
	font-size: 14px;
	text-align: center;
	background: $dark-smoke;
	@include font('Roboto Light', 400);
	@media screen and (min-width: 768px) {
		margin: 0 0 65px;
		background: $dark-smoke url("../img/decor/hud-header-gray__768.png") no-repeat 117px 267px;
	}
	
	@media screen and (min-width: 1920px) {
		position: relative;
		padding: 0 0 52px;
		background: $dark-smoke url("../img/decor/hud-header-gray.png") no-repeat 0 74px;
		
		& .inner {
			text-align: left;
		}
	}
	& header {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin: 0 0 55px;
		height: 93px;
		flex-wrap: wrap;
		@media screen and (min-width: 768px) {
			margin-bottom: 40px;
		}
		@media screen and (min-width: 1920px) {
			margin: 0 auto 180px 80px;
			width: 1490px;
			height: 105px;
			z-index: 3;
		}
		
		& .logo {
			padding-top: 4px;
			font-size: 0;
			@media screen and (min-width: 768px) {
				@include font('Roboto Black', 900);
				padding: 0;
				
				@media screen and (min-width: 1920px) {
					width: 390px;
					padding-top: 30px;
					
					& > span {
						display: block;
						text-align: right;
						letter-spacing: 1px;
						font-size: 14px;
						@include font('Ubuntu mono', 400);
					}
				}
				
				& a {
					display: flex;
					width: 210px;
					font-size: 11px;
					color: $white;
					text-transform: uppercase;
					text-decoration: none;
					@media screen and (min-width: 1920px) {
						margin-bottom: 5px;
						width: 382px;
						font-size: 15px;
						letter-spacing: 2px;
					}
					
					& img {
						margin: auto 0;
						width: 79px;
						height: 23px;
						@media screen and (min-width: 1920px) {
							width: 98px;
							height: 29px;
						}
					}
					
					& span {
						line-height: 1.455;
						padding-left: 10px;
						text-align: left;
						@media screen and (min-width: 1920px) {
							padding-left: 20px;
						}
					}
				}
			}
		}
		
		& .info {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			width: 140px;
			height: 35px;
			@media screen and (min-width: 768px) {
				order: 2;
			}
			@media screen and (min-width: 1920px) {
				width: 273px;
				height: 100px;
			}
			
		}
		& .sign-in {
			display: none;
			@media screen and (min-width: 1920px) {
				@include font('Roboto Black', 900);
				box-sizing: border-box;
				display: block;
				margin-right: auto;
				padding: 7px 0 0 15px;
				width: 237px;
				height: 33px;
				color: $header-color;
				text-align: left;
				font-size: 16px;
				text-transform: uppercase;
				line-height: 1.25;
				background: $white;
			}
		}
		
		& .num {
			color: $main-blue;
			border-bottom: 1px solid $main-blue;
			@include font('Ubuntu mono', 900);
			@media screen and (min-width: 1920px) {
				margin-left: 15px;
				padding-top: 15px;
				width: 258px;
				text-align: left;
				font-size: 20px;
			}
		}
		
		& .set-up {
			font-size: 13px;
			color: $light-smoke2;
			@media screen and (min-width: 1920px) {
				margin-left: 15px;
				padding-top: 10px;
				width: 258px;
				text-align: left;
				font-size: 16px;
				letter-spacing: 2px;
			}
			
			& strong {
				@include font('Roboto Black', 900);
				color: $white;
			}
		}
	}
	
	& .start {
		align-self: center;
		box-sizing: border-box;
		margin: 0 auto;
		padding-top: 7px;
		width: 141px;
		height: 28px;
		border: 1px solid $main-blue;
		text-transform: uppercase;
		@include font('Roboto Black', 900);
		@media screen and (min-width: 768px) {
			align-self: flex-start;
			margin: 0 0 0 -40px;
			padding-top: 4px;
			width: 158px;
			height: 26px;
			font-size: 16px;
		}
		@media screen and (min-width: 1920px) {
			margin: 110px 0 0 320px;
			width: 240px;
			font-size: 22px;
			text-align: right;
			letter-spacing: 1px;
			border: none;
			transform: rotate(90deg);
			
			&::before {
				content: '';
				background: $main-blue;
				position: absolute;
				left: 120px;
				bottom: -90px;
				width: 1px;
				height: 241px;
				transform: rotate(90deg);
			}
		}
		
		& strong {
			color: $main-blue;
		}
	}
	
	& .block__caption {
		@media screen and (min-width: 1920px) {
			display: inline-block;
			margin-left: 390px;
			width: 574px;
		}
		
		& .pre-caption {
			margin: 0 0 25px;
			font-size: 16px;
			color: $light-smoke2;
			@include font('Roboto Light', 400);
			@media screen and (min-width: 768px) {
				margin-bottom: 53px;
			}
			@media screen and (min-width: 1920px) {
				margin: 0 auto 53px;
				width: 370px;
				text-align: right;
			}
			
			& span {
				font-size: 18px;
				color: $white;
				text-transform: uppercase;
				
				&::after {
					content: '_';
				}
				@include font('Ubuntu mono', 900);
				@media screen and (min-width: 768px) {
					font-size: 20px;
				}
			}
		}
		
		& .caption {
			margin: 0 0 35px;
			text-transform: uppercase;
			font-size: 30px;
			line-height: 1.3;
			@include font('Roboto Black', 900);
			@media screen and (min-width: 768px) {
				margin-bottom: 50px;
				font-size: 40px;
				line-height: 1.25;
				@media screen and (min-width: 1920px) {
					width: 480px;
					text-align: right;
					font-size: 64px;
				}
			}
			&::before {
				display: block;
				content: '';
				position: relative;
				top: -10px;
				margin: 0 auto;
				width: 150px;
				height: 3px;
				background-color: $main-blue;
				@media screen and (min-width: 768px) {
					width: 574px;
					height: 6px;
					top: -27px;
				}
			}
			
			& span {
				color: $main-blue;
				
				&::before {
					content: '_';
				}
			}
		}
		
		& .after-caption {
			line-height: 1.4;
			@include font('Roboto Light', 400);
			@media screen and (min-width: 768px) {
				margin-bottom: 100px;
				letter-spacing: 1px;
				
				&::before {
					display: block;
					content: '';
					position: relative;
					top: -31px;
					margin: 0 auto;
					width: 120px;
					height: 1px;
					background-color: $main-blue;
				}
				& br {
					display: none;
				}
			}
			
			@media screen and (min-width: 1920px) {
				width: 520px;
				height: 50px;
				font-size: 16px;
				line-height: 16px;
				letter-spacing: 0;
				
				& strong {
					letter-spacing: 1px;
				}
			}
			
			& > span:nth-child(2) {
				@include font('Ubuntu mono', 900);
				letter-spacing: 1px;
			}
			& > span {
				display: block;
				margin-bottom: 5px;
				& span {
					color: $main-blue;
					font-size: 18px;
					@include font('Roboto Black', 900);
					@media screen and (min-width: 1920px) {
						font-size: 24px;
					}
				}
			}
		}
	}
	
	.block__features {
		@media screen and (min-width: 1920px) {
			display: inline-block;
			box-sizing: border-box;
			position: absolute;
			top: 0;
			margin: 0;
			padding: 355px 0 0 60px;
			vertical-align: top;
			background-color: $header-color;
			box-shadow: 0px 18px 40px 0px rgba(28, 28, 30, 0.22);
			width: 570px;
			height: 930px;
			z-index: 1;
			
			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 44px;
				right: -208px;
				background-image: url("../img/decor/hud-header-blue.png");
				width: 402px;
				height: 760px;
				z-index: 10;
			}
		}
		
		& .list {
			display: none;
			@include font('Ubuntu mono', 400);
			@media screen and (min-width: 768px) {
				display: flex;
				justify-content: center;
				
				& .list__item {
					position: relative;
					padding-left: 60px;
					width: 130px;
					font-size: 16px;
					text-align: left;
					line-height: 1.125;
					
					&::before {
						position: absolute;
						display: inline-block;
						content: '<_';
						left: 30px;
						width: 24px;
						height: 15px;
						font-weight: 900;
						color: $main-blue;
					}
					@media screen and (min-width: 1920px) {
						box-sizing: border-box;
						margin-bottom: 25px;
						padding: 0 60px 0 5px;
						width: 241px;
						font-size: 20px;
						
						&::before {
							left: -24px;
						}
					}
				}
				
				& .list__head {
					padding-right: 15px;
					border-right: 1px solid $white;
					line-height: 1.375;
					letter-spacing: 1px;
					text-transform: uppercase;
					@include font('Roboto Black', 900);
					&::before {
						display: none;
					}
					@media screen and (min-width: 1920px) {
						padding-bottom: 7px;
						font-size: 22px;
						border-right: none;
						border-bottom: 1px solid $white;
					}
				}
			}
			@media screen and (min-width: 1920px) {
				flex-direction: column;
			}
		}
		& .reviews-link {
			display: none;
			@media screen and (min-width: 1920px) {
				margin-top: 155px;
				display: block;
				position: relative;
				width: 266px;
				height: 46px;
				
				&::before, &::after {
					content: '';
					position: absolute;
					display: block;
					box-sizing: border-box;
					width: 40px;
					height: 40px;
				}
				
				&::before {
					bottom: -11px;
					left: -13px;
					border-bottom: 1px solid $white;
					border-left: 1px solid $white;
				}
				&::after {
					top: -13px;
					right: -13px;
					border-top: 1px solid $white;
					border-right: 1px solid $white;
				}
				
				& a {
					@include font('Roboto Black', 900);
					box-sizing: border-box;
					position: relative;
					display: block;
					background-color: $main-blue;
					padding-top: 10px;
					height: 100%;
					color: $header-color;
					font-size: 16px;
					text-transform: uppercase;
					text-decoration: none;
					line-height: 1.625;
					text-align: center;
					z-index: 2;
				}
			}
		}
	}
	& .add {
		display: none;
		@media screen and (min-width: 1920px) {
			@include font('Ubuntu mono', 700);
			display: block;
			position: absolute;
			top: 535px;
			left: -152px;
			font-size: 18px;
			color: $white;
			line-height: 1;
			text-align: left;
			transform: rotate(90deg);
			
			&::before {
				content: '[ ';
				color: $main-blue;
			}
			
			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 9px;
				left: -127px;
				width: 120px;
				height: 1px;
				background: $main-blue;
			}
		}
	}
}
