.modal {
	display:          flex;
	justify-content:  center;
	align-items:      center;
	position:         fixed;
	top:              0;
	right:            0;
	width:            100%;
	height:           100%;
	text-align:       center;
	background-color: rgba(36, 36, 39, .84);
}

.modal__inner {
	box-sizing:       border-box;
	padding:          50px;
	width:            468px;
	height:           540px;
	background-color: rgb(255, 255, 255);
	//box-shadow: 0px 32px 40px 0px rgba(0, 0, 0, 0.35);
}

.modal__title {
	margin-bottom:  65px;
	text-transform: uppercase;
	
	&::after {
		content:          "";
		display:          block;
		margin:           auto;
		width:            192px;
		height:           4px;
		background-color: $main-blue;
	}
}

.sign-up__list {
	margin:     0 20px 35px;
	padding:    0;
	list-style: none;
}

.sign-up__item {
	display:         flex;
	justify-content: flex-end;
	margin-bottom:   20px;
	&:nth-child(4) {
		justify-content: center;
		
		.sign-up__label {
			position: relative;
			
			&::before {
				content:    '';
				border:     3px solid rgb(255, 255, 255);
				box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.41);
				position:   absolute;
				left:       -20px;
				width:      9px;
				height:     9px;
			}
		}
	}
}

.sign-up__fill {
	border:        none;
	border-bottom: 1px solid rgb(36, 36, 39);
	width:         240px;
	outline: none;
	&:checked + .sign-up__label::before {
		background-color: $main-blue;
	}
}

.sign-up__link {
	color:           $header-color;
	text-decoration: none;
	border-bottom:   2px solid $main-blue;
}

.sign-up__submit {
	width:          320px;
	height:         70px;
	border:         1px transparent;
	border-radius:  5px;
	background:     linear-gradient(to right, rgb(255, 198, 23) 0%, rgb(251, 7, 64) 100%);
	box-shadow:     0px 12px 20px 0px rgba(28, 28, 30, 0.21);
	text-align:     center;
	text-transform: uppercase;
	color:          #ffffff;
	font-size:      16px;
	line-height:    1.625;
	text-shadow:    0px 1px 1px rgba(28, 28, 30, 0.32);
}