.switch {
	position: relative;
	box-sizing: border-box;
	margin: auto 0 40px;
	@include font('Open sans', 400);
	font-size: 14px;
	@media screen and (min-width: 768px) {
		height: 620px;
	}
	@media screen and (min-width: 1920px) {
		height: 750px;
		font-size: 18px;
		&::before {
			position: absolute;
			left: -377px;
			display: block;
			content: '';
			width: 327px;
			height: 313px;
			background: url("../img/decor/switch_bg.jpg") no-repeat;
		}
	}
	
	& .inner {
		position: relative;
	}
}

.switch__title {
	position: relative;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	@include font('Roboto Black', 900);
	font-size: 25px;
	z-index: 2;
	@media screen and (min-width: 768px) {
		width: 270px;
		text-align: left;
		font-size: 30px;
	}
	@media screen and (min-width: 1920px) {
		margin-left: 390px;
		width: 370px;
		font-size: 42px;
	}
}

.switch__title::before {
	display: inline-block;
	content: '_';
	font-size: 30px;
	color: $main-blue;
}

.switch__title::after {
	display: block;
	content: '';
	margin: 15px auto;
	width: 150px;
	height: 2px;
	background-color: $dark-smoke;
	@media screen and (min-width: 768px) {
		position: relative;
		top: 42px;
		margin: 0;
		width: 320px;
		height: 2px;
	}
	@media screen and (min-width: 1920px) {
		width: 430px;
		height: 4px;
		top: 46px;
	}
}

.switch__title--ext {
	position: relative;
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
	line-height: 24px;
	z-index: 2;
	
	& span {
		color: $main-blue;
	}
	@media screen and (min-width: 768px) {
		margin-left: 70px;
		width: 250px;
		text-align: right;
		
		& br {display: none;}
		& span {
			background-color: $header-color;
			padding: 0 3px;
			//width: 85px;
			//height: 23px;
		}
	}
	@media screen and (min-width: 1920px) {
		margin-left: 518px;
		width: 300px;
	}
}

.check-list {
	@media screen and (min-width: 768px) {
		position: absolute;
		top: 30px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap-reverse;
		flex-direction: row-reverse;
	}
	@media screen and (min-width: 1920px) {
		top: 90px;
		width: 1060px;
		margin: 0 430px;
	}
}

.check-list__item {
	@media screen and (min-width: 768px) {
		width: 320px;
		&:nth-child(1) {order: 5;}
		&:nth-child(2) {order: 4;}
		&:nth-child(3) {order: 3;}
		&:nth-child(4) {order: 2;}
		&:nth-child(5) {order: 1;}
	}
	@media screen and (min-width: 1920px) {
		width: 462px;
	}
}

.check-list__item-title {
	position: relative;
	margin: 0 auto 30px;
	@include font('Ubuntu mono', 700);
	font-size: 18px;
	@media screen and (min-width: 768px) {
		font-size: 24px;
	}
	@media screen and (min-width: 1920px) {
		margin: 40px auto 10px;
		font-size: 30px;
	}
}

.check-list__item-desc {
	margin: 0;
	line-height: 22px;
	
	& a {
		@include font('Open sans', 800);
		color: $black;
		text-decoration: none;
		border-bottom: 1px solid $main-blue;
	}
}

.check-list__item-title:before {
	display: inline-block;
	position: relative;
	top: 20px;
	content: '';
	margin-right: 5px;
	width: 37px;
	height: 44px;
	@media screen and (min-width: 1920px) {
		position: absolute;
		top: -16px;
		left: -77px;
		width: 77px;
		height: 99px;
	}
}

.check-list__item:nth-child(1) .check-list__item-title:before {
	background: url("../img/decor/hook-1.jpg") no-repeat right;
	@media screen and (min-width: 1920px) {
		background: url("../img/decor/l-hook-1.jpg") no-repeat right;
	}
}

.check-list__item:nth-child(2) .check-list__item-title:before {
	background: url("../img/decor/hook-2.jpg") no-repeat right;
	@media screen and (min-width: 1920px) {
		background: url("../img/decor/l-hook-2.jpg") no-repeat right;
	}
}

.check-list__item:nth-child(3) .check-list__item-title:before {
	background: url("../img/decor/hook-3.jpg") no-repeat right;
	@media screen and (min-width: 1920px) {
		background: url("../img/decor/l-hook-3.jpg") no-repeat right;
	}
}

.check-list__item:nth-child(4) .check-list__item-title:before {
	background: url("../img/decor/hook-4.jpg") no-repeat right;
	@media screen and (min-width: 1920px) {
		background: url("../img/decor/l-hook-4.jpg") no-repeat right;
	}
}

.check-list__item:nth-child(5) .check-list__item-title:before {
	background: url("../img/decor/hook-5.jpg") no-repeat right;
	@media screen and (min-width: 1920px) {
		background: url("../img/decor/l-hook-5.jpg") no-repeat right;
	}
}


