.we-can {
	position: relative;
	box-sizing: border-box;
	padding: 45px 0 60px;
	background: url("../img/back/we-can.jpg");
	text-align: center;
	font-size: 14px;
	@include font('Open sans', 400);
	@media screen and (min-width: 768px) {
		margin-top: 60px;
		& .inner {
			padding: 0 22px 0 25px;
		}
		&::before {
			position: absolute;
			top: 24px;
			left: 0;
			display: inline-block;
			content: '';
			width: 330px;
			height: 2px;
			background: $main-blue;
			z-index: 10;
		}
	}
	
	& .add {
		@include font('Ubuntu mono', 700);
		margin-bottom: 30px;
		
		& span {
			display: block;
			line-height: 24px;
		}
		
		& span:nth-child(1) {
			font-size: 16px;
			text-transform: uppercase;
			
			& > span {
				display: inline-block;
				background: $main-blue;
				width: 104px;
				height: 22px;
			}
		}
	}
}

.we-can__title {
	margin: 0;
	text-transform: uppercase;
	@include font('Roboto black', 900);
	font-size: 25px;
	
	&::before {
		display: inline-block;
		content: '_';
		color: $main-blue;
		font-size: 30px;
	}
	@media screen and (min-width: 768px) {
		padding-left: 17px;
		width: 389px;
		text-align: left;
		font-size: 30px;
	}
	@media screen and (min-width: 1920px) {
		width: 370px;
		font-size: 42px;
	}
}

.we-can__title::after {
	display: block;
	content: '';
	margin: 15px auto;
	width: 150px;
	height: 2px;
	background-color: $dark-smoke;
	@media screen and (min-width: 768px) {
		position: relative;
		top: 50px;
		left: -17px;
		margin: 0;
		width: 320px;
		height: 2px;
	}
	@media screen and (min-width: 1920px) {
		width: 430px;
		height: 4px;
	}
}

.we-can__title--ext {
	text-transform: uppercase;
	line-height: 24px;
	@include font('Roboto black', 900);
	
	& span {
		color: $main-blue;
	}
	@media screen and (min-width: 768px) {
		margin-left: 70px;
		width: 250px;
		text-align: right;
		
		& span {
			background-color: $header-color;
			padding: 0 3px;
			//width: 85px;
			//height: 23px;
		}
	}
	@media screen and (min-width: 1920px) {
		margin-left: 130px;
		width: 300px;
	}
}

.tasks {
	display: inline-block;
	box-sizing: border-box;
	padding-top: 5px;
	width: 286px;
	height: 46px;
	border: 2px solid $main-blue;
	@include font('Open sans', 800);
	
	& span {
		color: $main-blue;
	}
	@media screen and (min-width: 768px) {
		width: 170px;
		text-align: left;
		font-size: 12px;
		line-height: 16px;
		border: none;
		transform: rotate(90deg) translate(-250px, -580px);
	}
}

.we-can__list {
	margin-bottom: 25px;
	padding-bottom: 40px;
	border-bottom: 3px solid $header-color;
	@media screen and (min-width: 768px) {
		position: absolute;
	}
}

.we-can__pic-title {
	margin: 10px auto;
	padding-left: 60px;
	text-align: left;
	@include font('Ubuntu mono', 700);
	font-size: 18px;
	
	&::after {
		position: relative;
		top: -6px;
		right: -95px;
		display: block;
		content: '';
		width: 135px;
		height: 3px;
		background-color: $dark-smoke;
	}
}

.we-can__item-pic {
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1);
}

.we-can__item-title {
	text-transform: uppercase;
	margin: 0;
	@include font('Roboto black', 900);
	font-size: 16px;
	
	&::after {
		display: block;
		content: '';
		margin: 12px auto 22px;
		width: 80px;
		height: 2px;
		background-color: $main-blue;
	}
}

.we-can__item-desc {
	font-weight: 600;
	line-height: 24px;
	& span {
		font-weight: 400;
		font-size: 12px;
	}
}

.sign-up__submit {
	@media screen and (min-width: 320px) {
		width: 290px;
		height: 55px;
		font-size: 14px;
	}
}


