$main-blue: #00bcd4;
$light-smoke: #c4c4c4;
$light-smoke2: #c7c7c7;
$white: #ffffff;
$light-gray: #f7f7f7;
$black: #000000;
$dark-smoke: #2b2a2f;
$header-color: #242427;
//===
$text-color-perspective: #D6D5D5;
$h2-learning-color: #333333;
$bg-color-appreciated:#313133;
$color-line: #525253;