$main-blue: #00bcd4;
$light-smoke: #c4c4c4;
$light-smoke2: #c7c7c7;
$white: #ffffff;
$dark-smoke: #2b2a2f;
$header-color: #242427;
//===
$light-gray: #f7f7f7;
$black: #000000;
//===
$text-color-perspective: #D6D5D5;
$h2-learning-color: #333333;
$bg-color-appreciated:#313133;// same 1
$color-line: #525253;
//===
$section13-background: #f9f9f9;
$section13-backgroundsm: #ececec;
$section13-title-name:#232327;
$section13-title-ocupation: #5f5f5f;
$section13-backgroundmid: #ededed;
$section13-overlay: #00bbd3;
$section13-overlaysecond: #e2e2e2;
$section14-backgroundsm: #29292e;
$section14-descrparcolor: #3b3b3b;
$section14-priceseccolor: #313133;// same 1
$section14-pricelititle: #3c3c3c;
$section14-pricelistpar: #d7d7d7;
$section14-targetlistitem: #2b2b2d;
$section14-paymentitemcolor: #29292b;
$sect14-paymitembottomborder: #3f3f41;
$section14-backgroundmid: #212125;
$section14-overlaycolor: #2b2b2f;
$sect14-pricelistitemborder: #464648;
$sect14-pricelistitemcol: #29292c;
$section14-backgroundlg: #19191e;
$sect14-overlaylgcolor: #2b2b30;
$sect16-backgroundsm: #ebebeb;
$sect16-backgroundoverlaysm: #fafafa;
//===