/*@include reset();
.container {
  @include container();
}
*/
.row {
  @include row-flex();
}

.item {
  @include col();
}

@mixin font-mixin($f-family, $f-size, $color) {
  font-family: $f-family;
  font-size: $f-size;
  color: $color;
}

.flex {
  display: flex;
}
