.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position:    absolute;
	width:       1px;
	height:      1px;
	margin:      -1px;
	border:      0;
	padding:     0;
	white-space: nowrap;
	clip-path:   inset(100%);
	clip:        rect(0 0 0 0);
	overflow:    hidden;
}

.inner {
	box-sizing: border-box;
	margin:     0 auto;
	padding:    0 15px;
	width:      320px;
	@media screen and (min-width: 768px){
		padding: 0;
		width: 690px;
	}
	
	@media screen and (min-width: 1920px) {
		width: 1900px;
	}
}

.list {
	margin:     0;
	padding:    0;
	list-style: none;
}
