.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.clearfix::after {
	display: table;
	content: "";
	clear: both;
}

.inner {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 15px;
	width: 320px;
	@media screen and (min-width: 768px) {
		padding: 0;
		width: 721px;
	}
	
	@media screen and (min-width: 1920px) {
		width: 1900px;
	}
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.revers {
	transform: rotate(-90deg);
}

.title_span {
	display: inline-block;
	width: 16px;
	height: 4px;
	background-color: $main-blue;
}

.btn {
	width: 100%;
	height: 55px;
	font-size: 14px;
	font-family: $main-font-title;
	color: $white;
	text-transform: uppercase;
	line-height: 1.857;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(28, 28, 30, 0.32);
	border-radius: 5px;
	background-image: -webkit-linear-gradient(0deg, rgb(255, 198, 23) 0%, rgb(251, 7, 64) 100%);
	box-shadow: 0px 12px 20px 0px rgba(28, 28, 30, 0.21);
	border: transparent;
	@media screen and (min-width: 768px) {
		width: 300px;
	}
	
	@media (min-width: 1150px) {
		width: 320px;
		height: 70px;
		font-size: 16px;
		line-height: 26px;
	}
}

.title {
	font-size: 25px;
	font-family: $main-font-title;
	text-transform: uppercase;
	line-height: 30px;
	text-align: center;
	color: $header-color;
	margin: 0 auto;
	@media (min-width: 768px) {
		font-size: 30px;
		line-height: 40px;
	}
	@media (min-width: 1150px) {
		font-size: 42px;
		line-height: 50px;
	}
}

.title::after {
	@media (min-width: 320px) and (max-width: 767px) {
		display: block;
		content: "";
		width: 150px;
		height: 2px;
		margin: 10px auto 20px;
		background-color: $header-color;
	}
}

.title-before {
	color: #00bcd4;
}

.title__txt {
	display: block;
	font-size: 14px;
	font-family: $main-font-title;
	color: $header-color;
	text-transform: uppercase;
	line-height: 20px;
	text-align: center;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: 768px) {
		line-height: 24px;
		text-align: right;
	}
	@media (min-width: 1150px) {
		font-size: 18px;
		line-height: 30px;
		text-align: right;
	}
}

.title__txt-after::before {
	@media screen and (min-width: 768px) {
		display: block;
		content: "";
		width: 320px;
		height: 2px;
		margin: 5px 0 5px auto;
		background-color: $header-color;
	}
	@media (min-width: 1150px) {
		width: 465px;
		height: 4px;
		margin: 5px 0 5px auto;
	}
}

.input-olek {
	height: 40px;
}

.form-olek {
	display: flex;
	justify-content: right;
}

.img-olek {
	display: block;
	max-width: 100%;
	height: auto;
}

.learning-format *,
.profession *,
.safe-way_section *,
.soft-skils * {
	box-sizing: inherit;
	font-family: $main-font-txt;
	margin: 0px;
	padding: 0px;
}