/*
@include reset();

.container {
    @include container();
}

.row {
    @include row-flex();
}

.item {
    @include col();
}


@mixin font-mixin($f-family, $f-size, $color) {
    font-family: $f-family;
    font-size: $f-size;
    color: $color;
}
*/

.flex {
    display: flex;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position:    absolute;
    width:       1px;
    height:      1px;
    margin:      -1px;
    border:      0;
    padding:     0;
    white-space: nowrap;
    clip-path:   inset(100%);
    clip:        rect(0 0 0 0);
    overflow:    hidden;
}