@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/roboto-v18-latin/roboto-v18-latin-regular.woff2') format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src: url('../../fonts/roboto-v18-latin/roboto-v18-latin-700.woff2') format("woff2");
}

@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-regular.woff2') format("woff2");
}

@font-face {
  font-family: 'Open sans';
  font-style: bold;
  font-weight: 700;
  src: url('../../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-700.woff2') format("woff2");
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: extrabold;
  font-weight: 900;
  src: url('../fonts/ProximaNova-Extrabld.woff') format("woff");
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: regular;
  font-weight: 400;
  src: url('../fonts/ProximaNova-Extrabld.woff') format("woff");
}

@font-face {
  font-family: 'Ubuntu mono';
  font-style: bold;
  font-weight: 700;
  src: url('../../fonts/ubuntu-mono-v7-cyrillic/ubuntu-mono-v7-cyrillic-700.woff2') format("woff2");
}

@font-face {
  font-family: 'Ubuntu mono';
  font-style: regular;
  font-weight: 400;
  src: url('../../fonts/ubuntu-mono-v7-cyrillic/ubuntu-mono-v7-cyrillic-regular.woff2') format("woff2");
}
