@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
	url('../../fonts/open-sans-v15-cyrillic_latin-regular.woff2') format('woff2'),
	url('../../fonts/open-sans-v15-cyrillic_latin-regular.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
	url('../../fonts/open-sans-v15-cyrillic_latin-700.woff2') format('woff2'),
	url('../../fonts/open-sans-v15-cyrillic_latin-700.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
	url('../../fonts/open-sans-v15-cyrillic_latin-800.woff2') format('woff2'),
	url('../../fonts/open-sans-v15-cyrillic_latin-800.woff') format('woff');
}

@font-face {
	font-family: 'Ubuntu mono';
	font-weight: 700;
	src: url('../../fonts/ubuntu-mono-v7-cyrillic_latin-700.woff2') format("woff2");
	//src: url('../../fonts/ubuntumono-bold.woff2') format("woff2");
}

@font-face {
	font-family: 'Ubuntu mono';
	font-weight: 400;
	src: url('../../fonts/ubuntu-mono-v7-cyrillic_latin-regular.woff2') format("woff2");
	//src: url('../../fonts/ubuntumono-regular.woff2') format("woff2");
}

@font-face {
	font-family: 'Roboto Light';
	src: url('../../fonts/Roboto Light.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'Roboto Black';
	src: url('../../fonts/Roboto Black.woff2') format('woff2');
	font-weight: 900;
}