@font-face {
  font-family: 'Museo sans cyrl';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/museosanscyrl_300.woff2') format("woff2");
}

@font-face {
  font-family: 'Museo sans cyrl';
  font-style: bold;
  font-weight: 900;
  src: url('../fonts/museosanscyrl_900.woff2') format("woff2");
}

@font-face {
  font-family: 'Open sans';
  font-style: bold;
  font-weight: 900;
  src: url('../fonts/opensans-extrabold.woff2') format("woff2");
}

@font-face {
  font-family: 'Open sans';
  font-style: semibold;
  font-weight: 700;
  src: url('../fonts/opensans-semibold.woff2') format("woff2");
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: extrabold;
  font-weight: 900;
  src: url('../fonts/ProximaNova-Extrabld.woff') format("woff");
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: regular;
  font-weight: 400;
  src: url('../fonts/ProximaNova-Extrabld.woff') format("woff");
}

@font-face {
  font-family: 'Ubuntu mono';
  font-style: bold;
  font-weight: 900;
  src: url('../fonts/ubuntumono-bold.woff2') format("woff2");
}

@font-face {
  font-family: 'Ubuntu mono';
  font-style: regular;
  font-weight: 400;
  src: url('../fonts/ubuntumono-regular.woff2') format("woff2");
}
