.whats_diff {
  padding: 56px 14px;
  background-color: $section13-background;
  @media (min-width: 768px) and (max-width: 1149px) {
    padding: 70px 30px 94px;
    background-color: $white;
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      display: block;
      background-color: $section13-background;
      box-shadow: 0px 22px 20px rgba(0, 0, 0, 0.12);
      width: 90%;
      height: 97%;
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 6%;
    }
  }
  @media (min-width: 1150px) {
    padding-top: 148px;
    padding-bottom: 130px;
    background-color: $white;
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      display: block;
      background-color: $section13-background;
      box-shadow: 0px 22px 20px rgba(0, 0, 0, 0.12);
      width: 82%;
      height: 97%;
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 10%;
    }
  }
}

.whats_diff_main_title {
  @extend %title;
  width: 254px;
  font-size: 25px;
  line-height: 30px;
  color: $header-color;
  margin-bottom: 56px;
  @media (min-width: 768px) and (max-width: 1149px) {
    width: 520px;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin-bottom: 52px;
  }
  @media (min-width: 1150px) {
    width: 720px;
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 50px;

  }
}

.whats_diff_title {
  @extend %paragraph;
  @extend %content;
  width: 282px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 24px;
  color: $header-color;
  font-weight: 700;
  margin-bottom: 20px;
  &::after {
    @extend %pseudo;
    width: 80px;
    height: 2px;
    background-color: $section13-overlay;
    margin-top: 7px;
  }
  @media (min-width: 768px) and (max-width: 1149px) {
    width: 626px;
    font-size: 24px;
    line-height: 30px;
    
  }
  @media (min-width: 1150px) {
    width: 770px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 40px;
    &::after {
      content: '';
      display: block;
      width: 114px;
      height: 5px;
      background-color: $section13-overlay;
      margin-top: 10px;
    }
  }
}

.whats_diff_paragraph {
  @extend %paragraph;
  @extend %content;
  width: 280px;
  font-family: $main-font;
  font-size: 14px;
  line-height: 24px;
  color: $header-color;
  @media (min-width: 768px) and (max-width: 1149px) {
    width: 618px;
  }
  @media (min-width: 1150px) {
    width: 770px;
    font-size: 18px;
    line-height: 28px;
    padding-right: 70px;
  }
}

.whats_diff_paragraph--first {
  margin-bottom: 25px;
  @media (min-width: 768px) and (max-width: 1149px) {
  padding-right: 30px; 
  margin-bottom: 42px;
  }
  @media (min-width: 1150px) {
    margin-bottom: 40px;
  }
}

.whats_diff_paragraph--second {
  margin-bottom: 48px;
  @media (min-width: 768px) and (max-width: 1149px) {
    margin-bottom: 50px;
  }
  @media (min-width: 1150px) {
    margin-bottom: 66px;
  }
}
.whats_diff_paragraph--third {
  @media (min-width: 768px) and (max-width: 1149px) {
    width: 560px;
  }
  @media (min-width: 1150px) {
    width: 690px;
  }
}

.whats_diff_list {
  @extend %list;
  margin-bottom: 24px;
  @media (min-width: 1150px) {
    margin-bottom: 40px;
  }
}

.whats_diff_item {
  @extend %content;
  font-family: $main-font;
  font-size: 14px;
  line-height: 24px;
  color: $header-color;
  width: 290px;
  padding-left: 40px;
  position: relative;
  &:not(:nth-last-child(-n+1)) {
    margin-bottom: 16px;
  }
  &::before {
    content: ' \25CF';
    font-size: 50px;
    position: absolute;
    left: 0px;
  }
  @media (min-width: 768px) and (max-width: 1149px) {
    width: 618px;
  }
  @media (min-width: 1150px) {
    width: 770px;
    font-size: 18px;
    line-height: 28px;
  }
}
.whats_diff_item:first-child {
 padding-right: 70px;
}

.whats_diff_descr {
  @extend %paragraph;
  @extend %content;
  width: 280px;
  font-family: $main-font;
  line-height: 24px;
  font-size: 14px;
  color: $header-color;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 10px;
  border-top: 2px solid $main-font;
  margin-bottom: 14px;
  @media (min-width: 768px) and (max-width: 1149px) {
    width: 560px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    border: none;
    margin-bottom: 30px;
  }
  @media (min-width: 1150px) {
    width: 690px;
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 34px;
  }
}

.whats_diff_span {
  font-weight: 700;
}
.whats_diff_main {
  @media (min-width: 768px) and (max-width: 1149px) {
    width: 618px;
    border: 3px solid $header-color;
    margin: 0 auto;
    padding: 30px 10px;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 275px;
      height: 6px;
      background-color: $section13-background;
      position: absolute;
      top: -4px;
      left: 40px;
    }
    &::after {
      content: '';
      display: block;
      width: 148px;
      height: 6px;
      background-color: $section13-background;
      position: absolute;
      bottom: -4px;
      left: 400px;
    }
  } 
   @media (min-width: 1150px) {
    width: 770px;
    border: 3px solid $header-color;
    padding: 30px 10px;
    padding: 35px 55px 46px;
    position: relative;
    margin-left: 130px;
   }  
   &::before {
    content: '';
    display: block;
    width: 380px;
    height: 6px;
    background-color: $section13-background;
    position: absolute;
    top: -4px;
    left: 50px;
  }
  &::after {
    content: '';
    display: block;
    width: 200px;
    height: 6px;
    background-color: $section13-background;
    position: absolute;
    bottom: -4px;
    left: 540px;
  }
}
.whats_diff_helper {
  @media (min-width: 1150px) {
    width: 900px;
    margin: 0 auto;
  }
}
.whats_diff_overlay {
  @media (min-width: 768px) and (max-width: 1149px) {
    width: 572px;
    height: 564px;
    background-color: $section13-overlay;
    position: absolute;
    z-index: -5;
    top: 47%;
    left: 25px;
   
  }
  @media (min-width: 1150px)  {
    width: 572px;
    height: 564px;
    background-color: $section13-overlay;
    position: absolute;
    z-index: -5;
    bottom: 0px;
    left: 7%;
    opacity: 0.9;
  }
}
.whats_diff_outline {
  @media (min-width: 1150px) {
    display: block;
    width: 529px;
    height: 949px;
   position: absolute;
   top: 22%;
   left: -10%;
   z-index: -6;
    &::after {
      content: '';
      background-image: url('../../img/background_15s.jpg');
      opacity: 0.5;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      z-index: -1;
    }
  }
}
.whats_diff_overlay_second {
  @media (min-width: 1150px) {
    display: block;
    width: 96px;
    height: 564px;
    background-color: $section13-overlay;
    box-shadow: 0px 48px 35px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 5%;
    left: 88%;
    z-index: -3;
  }
}