%link {
  display: block;
  text-decoration-line: none;
  cursor: pointer;
}

%list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%paragraph {
  margin: 0;
  padding: 0;
}

%button {
  border: none;
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
}

%title {
  font-family: $title-font;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

%pseudo {
  content: '';
  display: block;
}

%gradient {
  background-image: linear-gradient(90deg, #ffc517 0%, #fb0640 100%);
  box-shadow: 0px 12px 20px rgba(28, 28, 30, 0.21);
}

%par_font {
  font-family: $main-font;
  font-size: 14px;
  color: $white;
}

%content {
  display: block;
  margin: 0 auto;
}
